<ion-view hide-nav-bar="true" view-title="Answer">
<ion-header-bar align-title="middle">
 <div class="buttons">
   <button ng-click="goBackState()">Back</button>
</div>
  <h1 class="title">Answer</h1>
  <div class="buttons">
    <button class="button button-dark"><i class="ion-ribbon-b energized"></i>&nbsp;{{totalLevel}}</button>
  </div>
</ion-header-bar>
<ion-content class="has-header">
	  <label class="item item-input">
	    <textarea placeholder="Type your answer here" style="min-height:200px;"></textarea>
	  </label>
</ion-content>
