<ion-view hide-nav-bar="true" view-title="Level Overview">
  <ion-header-bar align-title="middle">
    <button ng-click="goBackState()">Back</button>
    <h1 class="title">Level Overview</h1>
    <div class="buttons">
      <a class="button button-dark" href="#/leveloverview"><i class="ion-ribbon-b energized"></i>&nbsp;{{usersettings.level}}</a>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="text-center">
      You can earn levels by performing different actions as shown below.

      <div class="leveltable">
        <table class="text-left">
          <tr>
            <td>Answer a question</td>
            <td>+1 level</td>
          </tr>
          <tr>
            <td>Get an answer chosen as best answer</td>
            <td>+2 levels</td>
          </tr>
          <tr>
            <td>Choose an answer as best answer</td>
            <td>+1 level</td>
          </tr>
          <tr>
            <td>Get an answer marked as spam</td>
            <td>-2 levels</td>
          </tr>
        </table>
      </div>
    </div>

    <br>

    <div class="text-center">
      <div class="buttons">
        <div class="button button-dark">Your current level is <i class="ion-ribbon-b energized"></i>&nbsp;{{usersettings.level}}</div>
      </div>
    </div>

    <br>

    <div class="row level-background levelOverview">
      <div class="col">
        <div class="text-center">
          <h1 class="center"><i class="button button-icon icon ion-ribbon-b "></i><br>Beginner<br></h1>
          <h4>2 questions</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row level-background intermediate levelOverview">
      <div class="col">
        <div class="text-center">
          <h1 class="center"><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><br>Intermediate<br></h1>
          <h5>Level 10</h5>
          <h4>+5 questions</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row level-background advanced levelOverview">
      <div class="col">
        <div class="text-center">
          <h1 class="center"><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><br>Advanced<br></h1>
          <h5>Level 20</h5>
          <h4>+10 questions</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row level-background master levelOverview">
      <div class="col">
        <div class="text-center">
          <h1 class="center"><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><br>Master<br></h1>
          <h5>Level 30</h5>
          <h4>10 questions per week</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row level-background fourtytwo levelOverview">
      <div class="col">
        <div class="text-center">
          <h1 class="center"><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><i class="button button-icon icon ion-ribbon-b "></i><br>42<br></h1>
          <h5>Level 42</h5>
          <h4>Unlimited questions</h4>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
