<ion-view hide-nav-bar="true">

<ion-view view-title="Login" name="login-view" class="login-page">
	 <div class="row">
	 	<div class="medium-12 large-12 small-12 columns logo">
			<img src="images/logo.png" alt="Logo" class="logo"/>
		</div>
		<div class="medium-12 large-12 small-12 columns center-all services">
			<form ng-submit="" name="userForm">
	            <label>Login with one of the following services</label>
	            <button class="button hollow" ng-click="LoginwithFacebook();">
	            	<i class="icon icon ion-social-facebook" style="color:#3B5998; font-size:3em;"></i>
	            </button>     
	        </form>
		</div>
	</div>
</ion-view>