<ion-view hide-nav-bar="true" view-title="Overview">
<ion-header-bar align-title="middle">
  <h1 class="title">Overview</h1>
  <div class="buttons">
    <a class="button button-dark" href="#/leveloverview"><i class="ion-ribbon-b energized"></i>&nbsp;{{totalLevel}}</a>
  </div>
</ion-header-bar>
<ion-content class="has-header">
   <highchart id="chart1" config="chart.answeredQuestions" style="width:100%;"></highchart>
   <div class="row level-background">
	    <div class="col">
	        <div class="text-center">
	            <h1 class="center"><a class="button button-icon icon ion-ribbon-b "></a><br>Beginner<br></h1>
	            <h4>Level {{totalLevel}}</h4>
	        </div>
	    </div>
	</div>

</ion-content>

