<ion-view hide-nav-bar="true" view-title="Answer">
  <ion-header-bar align-title="middle">
    <h1 class="title">Answer</h1>
    <div class="buttons">
      <a class="button button-dark" href="#/leveloverview"><i class="ion-ribbon-b energized"></i>&nbsp;{{totalLevel}}</a>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="loadAnswerList()">
    </ion-refresher>
    <div ng-if="!(answerList.length > 0)"class="card">
      <div class="item item-text-wrap">
        There are no questions you could answer yet.
      </div>
    </div>
     <div class="list card" ng-repeat="answer in answerList | orderBy:'date':true track by answer.id">

      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{answer.image}}">
          <h2 style="margin-top:0px;"><b> {{answer.message}}</b></h2>
          <p>Posted by <i>{{answer.name}}</i><br>at <i>{{answer.date | date:'yyyy-MM-dd HH:mm'}}</i></p>
      </div>
      <div class="item">
        <p><a class="subdued" ng-click="answer.open = !answer.open" style="padding-top: 20px;padding-bottom: 20px;">{{ answer.answers.length }} answer(s)</a><a class="button item-note button-small button-balanced" ng-click="answerQuestion(answer.id, answer.message)">Answer question</a></p>
      </div>
      <div ng-if="answer.open" ng-click="answer.open = !answer.open" ng-repeat="answerr in answer.answers" ng-show="answer.open" class="item item-body">
         <div class="item item-avatar item-text-wrap">
        <img ng-src="{{answerr.image}}">
        
          <p style="margin-top:0px;"><b> {{answerr.message}}</b></p>
          <p>Posted by <i>{{answerr.name}}</i><br>at <i>{{answerr.date | date:'yyyy-MM-dd HH:mm'}}</i></p>
          <p><button ng-if="answerr.accepted == 1" class="button item-note button-small button-outline button-balanced">Accepted by {{answer.name}}</button></p>
      </div>
      </div>

  </div>

  </ion-content>
